@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kick-primary: #53fc18;
  --background: #141517;
  --foreground: #141517;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141517;
    --foreground: #141517;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
